<h1>Listing users</h1>

<table class="table table-bordered">
  <tr class='error'>
    <th>Email</th>
    <th>Facebook ID</th>
    <th>Firstname</th>
    <th>Middlename</th>
    <th>Lastname</th>
    <th>Dateofbirth</th>
    <th>Phone</th>
    <th>Gender</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr class='info'>
    <td><%= user.email %></td>
    <td><%= user.facebook_id %></td>
    <td><%= user.firstname %></td>
    <td><%= user.middlename %></td>
    <td><%= user.lastname %></td>
    <td><%= user.dateofbirth %></td>
    <td><%= user.phone %></td>
    <td><%= user.gender %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
