<h1>Your current friends in facebook: </h1>
<br />
<% if @previous %><%= link_to 'Previous', "/settings?offset=#{@offset.to_i-1}" , :class => 'float-right'%><% else %>Previous<% end %> 
<% if @next %><%= link_to 'Next', "/settings?offset=#{@offset.to_i+1}", :class => 'float-left' %><% else %> Next <% end %>

<table class="table table-condensed">
  <tr>
    <th>Friend</th>
    <th>Activity setting</th>
  </tr>

  <% i = 0;
   @friends.keys.sort.each do |user| %>
  <% i = i+1 
     if i%2 == 0 
       tmp = "info"
     else
       tmp = "warning"
     end %>
  <tr class='<%= tmp %>'>
    <td><%= user %><br />
    Ignore?
    <label class="radio inline">
        <input type="radio" name="<%= @friends[user] %>" id="optionsRadios1" value="1" checked> Yes
    </label>
    
    <label class="radio inline">
       <input type="radio" name="<%= @friends[user] %>" id="optionsRadios2" value="option2"> No
    </label>
    </td>
    <td><label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox1" value="1" checked> Borrow
        </label>
        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox2" value="2" checked> Share
        </label>
        <label class="checkbox inline">
          <input type="checkbox" id="inlineCheckbox3" value="3" checked> Buy
        </label>
    </td>
  </tr>
<% end %>
</table>
<br />
<% if @previous %><%= link_to 'Previous', "/settings?offset=#{@offset.to_i-1}" , :class => 'float-right'%><% else %>Previous<% end %> 
<% if @next %><%= link_to 'Next', "/settings?offset=#{@offset.to_i+1}", :class => 'float-left' %><% else %> Next <% end %>
