
<%= render 'form' %>
<% now = Time.now %>
<table>
<% if @posts
   @posts.each do |post| %>
  <tr>
    <td><h5><img src="https://graph.facebook.com/<%= post.user_id %>/picture"/>
    <% if post.wanted_action_id == 1 %><i class="icon-arrow-left"></i>
    <% elsif post.wanted_action_id == 2 %><i class="icon-arrow-right"></i>
    <% elsif post.wanted_action_id == 3 %><i class="icon-briefcase"></i>
    <% else %><i class="icon-road"></i><% end %>
    <%=post.user.firstname %> <%=post.user.middlename %> <%=post.user.lastname %> wants to <i><%= post.wanted_action.wanted_action %></i> <u><a type="amzn" search='<%= post.product.name %>'><%= post.product.name %></a></u> </h5> 
    <label class="muted">Posted <%= post.time_ago %> ago</label></td>
  </tr>
<% end 
end  %>
</table>


